
{% include 'Base/header.html' %}
   {% include 'Base/navbar_home.html' %}   
    <!-- Body Start -->
<div class="home-main-body">

    <div class="home-img-container">

        <div class="home-img-text">
            <div class="home-img-text-title">
                Title or Tagline
            </div>
            <div class="home-img-text-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo laudantium velit quaerat sapiente provident assumenda impedit aspernatur, dignissimos vel sit quod accusamus dicta blanditiis autem iusto. Consectetur, iusto asperiores!
            </div>
        </div>
        <div class="home-img-btn-container">

            <a href=""> Get Quote</a>

        </div>

    </div>
    
</div>
    
  <!-- Site footer -->
        
</body>

</html>