{% load static %}
<div class="navbar">
        
    <div class="nav-top">
        <div class="nav-top-left"><img class="nav-img" src="{% static 'image/logo.png' %}" sizes="100 200" alt=""></div>
        <div class="nav-top-right">

            <a href="">Help Center</a>

            <div>

                <select class="transparent-select" name="name" id="name">
                    <option value="">Name {{request.user.username}}</option>
                </select>

            </div>
        </div>
    </div>
    <div class="nav-mid">
        
        <div class="nav-mid-item"><a href="">Estate : {{user.username}} <i class="fa fa-caret-down" style="font-size:14px;"></i> </a></div>
        <div class="nav-mid-item"><a href="{% url 'users_list_view' %}">User List View</a></div>
        <div class="nav-mid-item"><a href="{% url 'logout' %}">Logout</a></div>
        

    </div>
    <div class="nav-bottom">
<ul class="nav-bottom-ul">
    
    <li ><a href="table-steps.html"></a></li>
    <li ><a href="{% url 'contact_list_view' user.id %}">Contact</a></li>
    <li ><a href="{% url 'checklist_item_list_view' user.id %}">CheckList</a></li>
    <li ><a href="{% url 'asset_list_view' user.id %}">Inventory</a></li>
    <li ><a href="{% url 'customer_profile' user.id %}">Home</a></li>
    <li style="float: left; margin-left: 0.2rem;"><button type="button">Quick Start <i class="fa fa-lightbulb-o" style="font-size:15px; margin-left: 2px;"></i></button></li>
  </ul>
</div>
</div>