
<div class="main-body-left-form">
    <div class="form-heading">
      Add new contact
    </div>
    <form action="" method="post">
      {% csrf_token %}
    <div class="input-unit">
      <label class="req">First Name*</label>
      {{form.first_name}}
    </div>
    <div class="input-unit">
      <label class="req">Last Name*</label>
      {{form.last_name}}
    </div>
    <div class="input-unit">
      <label class="req">Contact*</label>
      {{form.contact}}
    </div>
    <div class="input-unit">
      <label >Company Name</label>
      {{form.company_name}}
    </div>
    <div class="input-unit">
      <label>Email</label>
      <input class="underline-text-field" type="text">
    </div>
  <div class="option-list">
      <label class="req">Select all roles apply to Contact*</label>
      {% for checkbox in form.type %}
      <div class="option-block">
        {{checkbox}}</div>
      {% endfor %}
      
  </div>

  <input class="form-submit-btn" type="submit" value="Add To Contact List">
</form>
  </div>