
<div class="main-body-left-form">
    <div class="form-heading">
      Add new contact
    </div>
    <div class="input-unit">
      <label class="req">First Name*</label>
      <input class="underline-text-field" type="text">
    </div>
    <div class="input-unit">
      <label class="req">Last Name*</label>
      <input class="underline-text-field" type="text">
    </div>
    <div class="input-unit">
      <label class="req">Contact*</label>
      <input class="underline-text-field" type="text">
    </div>
    <div class="input-unit">
      <label >Company Name</label>
      <input class="underline-text-field" type="text">
    </div>
    <div class="input-unit">
      <label>Email</label>
      <input class="underline-text-field" type="text">
    </div>
  <div class="option-list">
      <label class="req">Select all roles apply to Contact*</label>
      <div class="option-block"> <input type="checkbox" name="" id=""> Emergency Contact</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Executor</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Agent under power of Attorney</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Guardians</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Beneficiaries</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Trustees</div>
      <div class="option-block"> <input type="checkbox" name="" id=""> Physician</div>
      
     

  </div>

  <input class="form-submit-btn" type="button" value="Add To Contact List">
  
  </div>