{% include 'Base/header.html' %}
{% include 'Base/navbar.html' %}

<div class="progress-body">

    <div class="navigation">
   
        <h1>{{item.item.title}}</h1>
    </div>

    <div class="content">
  
{{item.item.notes}}
    
    </div>
    <div class="nav-controls">
        <a href="{% url 'single_checlist_item_status_view' pitem.item.id %}" class="previous round">&#8249;</a>
<a href="{% url 'single_checlist_item_status_view' nitem.item.id %}" class="next round">&#8250;</a>
    </div>

    <br><br><br>

   <a href="{% url 'checklist_item_list_view' item.user.id %}" class="button">List View</a>
    

</div>

{% include 'Base/footer.html' %}